body {
    font-family: 'poppins', sans-serif;
    background: url('https://res.cloudinary.com/adenike/image/upload/v1604536515/people-at-mall-wear-face-mask_isdm83.jpg') center no-repeat fixed;
    background-size: cover;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;           
    height: 100vh;
}

.sign-in {
    background-color: rgba(0, 0,0, 0.6);
    color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 15px 0 15px 0;
    /* box-shadow: 2px 10px 8px rgba(0,0,0,0.7); */
}
h1 {
    margin-bottom: 20px;
}
/* form {
}  */
.form-control {
    margin: 25px;
    
}
.form-control input,
.form-control select {
    padding: 10px;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #fff;
    background: transparent;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
}
::placeholder {
    color: #fff;
}
.form-control input:focus,
.form-control select:focus,
.btn {
    outline: none;
}
select {
    margin-top: 10px;
    /* color: grey; */
}
select option {
    background-color:#333;
}
p, label {
    font-size: 17px;
}
.btn {
    padding: 12px 30px;
    border-radius: 5px;
    background: teal;
    color: #fff;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.btn:hover {
    transform: scale(1.1);
}
.visits {
    padding: 15px 20px 0; 
    text-align: left;
}
.visitors{
    margin-bottom: 08px;
    font-weight: 700;
    /* font-size: 17px;   */
}
#denied {
    color: rgb(240, 115, 115);
}
#accepted {
    color: greenyellow;
}
